body {
    color: blue;
}

a {
    text-decoration: none;
    color: rgb(185, 219, 184);
}

a:visited {
    color: rgb(185, 219, 184)
}

.component-heading {
    text-align: center;
    font-size: 4rem;
    color: rgb(18, 10, 92);
    font-weight: bold
}

.main-text {
    text-align: center;
    font-size: 3rem;
    color: rgb(18, 10, 92);
}

.card {
    margin-top: 30px;
}

.card-body-name {
    text-align: center;
    font-size: 2rem;
    color: rgb(18, 10, 92);
    font-weight: bold
}

.card-body-details {
    text-align: center;
    font-size: 1rem;
    color: rgb(18, 10, 92);
}

.form {
    border-style: double;
    border-width: 5px;
    padding: 30px;
    text-align: center;
    font-size: 1.25rem
}

input {
    padding-left: 10px;
    margin-left: 10px
}